:root {
    --start-color: #ee7752;
    --end-color: #23d5ab;
}

/* General styling */
.romanText {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: #333333 0 0 70px;
}

/* Strobe animations */
@-webkit-keyframes strobe {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: #fff;
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}

@-moz-keyframes strobe {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: #fff;
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes strobe {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: #fff;
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}

.strobeDiv {
    -webkit-animation: strobe 0.1s infinite;
    -moz-animation: strobe 0.1s infinite;
    animation: strobe 0.1s infinite;
}

/* Background */
.dots{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-183/dots-transparent.png);
    width: 100%;
    height:100%;
    opacity: .1;
    background-repeat: repeat;
}

.fullSize {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}

.gradient {
    background: -webkit-linear-gradient(left top, var(--start-color), var(--end-color)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, var(--start-color), var(--end-color)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, var(--start-color), var(--end-color)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, var(--start-color), var(--end-color)); /* Standard syntax */
}